*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

body{
min-height: 80vh;
background-image: url(/images/fondo1.jpeg);
background-size: cover;
font-family: "calibri";
}

/* cabecera*/

header{ 
    width: 100%;
    height: 120px;
    clear: both; 
}

.menu{
    width: 1200px;
    margin: 0 auto;
    margin-top: 0px;  
}

.logo{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    float: left;
    padding: 5px;
}

 nav{
     float:right;
     margin-top: 10px;
 }

nav ul li{ 
list-style: none;
margin-left:auto;
    padding: 40px;
   color: white;
    float: left;
    position: relative;
}

nav ul li a{
    text-decoration: none;
    color: white;
    padding: 12px 0;
    font-weight: bold;   
}

/*home1*/

.contenedor{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
   margin-top: 50px;
   margin-left: 20%;
    width: 60%;
    background-image: url(/images/background-image1.jpg);
    color: rgb(15, 211, 236);  
}

.box1{
    font-size: 60px;
    margin-top: 10%;
    margin-bottom: 10px;   
    text-align: center;
}

.box2{
    font-size: 20px;
    font-style: italic;
    text-align:center;
    margin-bottom: 20px; 
    background-color: aliceblue;  
}

.info{
    text-align: center;
    margin-bottom: 50px;
    font-weight: bold;
    color:white;
    font-size: 30px; 
}


.info button{
    margin-left: 200px; 
    height: 30px;
}

.info button a{
    text-decoration: none;
    color: black;
   
}

@media only screen and (min-width:600px) { 
    .info button{
        margin-left: 160px;
    }     
}  

img{
    max-width: 100%;
    max-height: 100%;
}

.contactame {
    display:flex;
    justify-content: flex-end;
    position:fixed;
    bottom:20px;
    right:5px;  
}

.contactame button{
    height: 65px;
    width: 130px;
    background-color: chartreuse;
    border-radius: 30%;
    border: 3px solid gray;
}

.contactame button a{
text-decoration: none;
font-size: 18px;
color: rgb(90, 13, 233);
text-shadow: 4px 4px 4px gray;
}

/*cursos*/

.fondo3{
    background-image:url(/images/background-image1.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.padre{
    display: flex;
    width: 80%;
    height: 40%;
    flex-direction: row;
    justify-content:center;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 50px;
    background-color: lightblue;
    border: solid;
}

.online{
    flex-direction:column; 
    margin-right: 10%;
    width: 40%;
    text-align: center;
    font-size: 20px ;
    height: 50%;
    margin-bottom: 10px;    
}

h1{
    color:blueviolet;
}

h2 {
    color: blue
}

.presencial{
   margin-top: 30px;
    flex-direction: column;
    height: 50%;
    width: 40%;
    margin-right: 10pt;
    text-align: center;
    font-size: 20px;  
}

/*mentores*/

.nosotros {
    display: flex;
    width: 80%;
    height: 550px;
   /* flex-direction: row; no es necesario*/ 
    justify-content:center;
    margin-left: 10%;
    margin-right: 30%;
    background-color: lightblue;
    border: solid; 
    margin-top: 100px; 
}

.redonda {
    height: 200px;
    width:200px;
    border-radius: 50%;  
}
    
 .nosotros .mentor img:hover{
    border: 10px solid blue;
    transform: scale (1.3);
    transition: transform 1s, border 1s;   
}

.mentor{
    text-align: center;
    margin-left: 10px;
    margin-top: 100px;
    margin-bottom: 10px;
    margin-right: 10px;   
}

/*tabla*/
table{
   width: 80%;
    border: 3px solid black; 
    margin-top: 30px;
    margin-left: 80px;
    background-color: white;
    border-spacing: 7px;
    text-align: center;
 border-collapse: collapse;
}

caption{
    background-image: url(/images/background-image1.jpg);
    font-weight: bold;
    padding: 10px;
    font-size: 30px;
    color: white;   
}

thead{
    background-color: rgb(10, 191, 247);
}

th, td{
    padding: 10px; 
}

tr:nth-child(even){
    background-color: rgb(227, 221, 221);
}

tr:hover td{
    background-color: rgba(112, 87, 224, 0.66);
}

/*listas*/

.padretabla{
    display:flex;
    flex-direction:column;
    justify-content: center;
   margin-top: 150px;
   margin-left: 80px;
    width: 80%;
    background-color: lightblue;
    color: black;  
    margin-bottom: 20px;
}

.aprendimos{
   width: 100%;
    margin-bottom: 20px;
    font-size: 30px;
    background-image: url(/images/background-image1.jpg);
    text-align: center;
    border-bottom: solid blue;
}

.hijolista{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    width: 100%;
    justify-content: space-evenly;
}

.numeros{
    list-style-type: none;
    display: inline;
    text-align:left;
    font-size: 20px;
    padding: 30px;
      
}
h3{
    border-bottom: 5px solid blue;
    text-align: center; 
}

.horario{
    display: flex;
    flex-direction: column;
    width:80%;
    margin-left: 80px;
    padding: 70px;
    background-color: white;
    margin-bottom: 40px;
}

dt{
    font-weight: bold;
    padding: 10px;
}

dd{
    padding: 10px;
    text-align:justify;
}

/*formulario*/

.formupadre{
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 60%;
    margin-bottom: 50px;
background-color: gainsboro;
    border-color: darkblue solid bold;
    margin-right: 60%;
    padding: 10px;
    border-radius: 2%;
    
}

form .datospers label,
form .datospers input{
    margin-top: 10px;
}


.titulo{
    text-align: center;
    background-color: cornflowerblue;
    margin-bottom: 20px;
}

.info {
    height: 100%;
    width: 90%;
    text-align: justify;
    color:black;
    font-size: 15px;
    font-weight: 100;
}

.info legend{
    font-weight: bold;
    border-bottom: 1px solid blue;
    height: 100%;
}

.enviar{
    font-size: 20px;
    
}

.felicidades{
    background-color: cornflowerblue;
    text-align: center;
    border-color: darkblue solid;
    width:80%;
    height: 200px;
    margin-left: 180px;
    margin-right: 180px;
    padding: 30px;
    margin-top: 150px;
    font-size: 40px;
    
}

.centro{
    height: 200px;
    margin-top: 70px;
    font-size: 20px;
}